<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap" rel="stylesheet">
<div class="credits-container">
  <h3>Credits: {{credits}}</h3>
  <button type="submit" (click)="updateCredits(username, 300)" class="btn btn-outline-primary">Regenerate Credits</button>
</div> 
<div class="container">
  <h2>Choose Your Project Topics</h2>
  <button class="logout-btn"type="submit" (click)="onLogout()">Logout</button>
  
  <!-- Card for Topic Selection -->
  <div class="card">
    <h3>Select your topics</h3>
    <div class="topic-grid">
      <button *ngFor="let topic of topics"
              [class.active]="selectedTopics.includes(topic)"
              (click)="toggleSelection(topic)" class="button">
        {{ topic }}
      </button>
    </div>
  </div>

  <!-- Selection Bar -->
  <div class="selection-bar mt-3">
    <div *ngFor="let topic of selectedTopics" class="badge">
      {{ topic }}
      <button class="btn-close" (click)="removeTopic(topic)">&times;</button>
    </div>
  </div>

  <!-- Custom Prompt Section -->
  <div class="mt-3">
    <button class="btn btn-outline-primary" (click)="openCustomPrompt()">
      Write Your Own Prompt
    </button>
    <div *ngIf="showCustomPrompt" class="custom-prompt">
      <textarea [(ngModel)]="customPrompt" 
                placeholder="Enter your custom project prompt..."
                rows="4"></textarea>
    </div>
  </div>

  <!-- Generate Button -->
  <div class="mt-4 generate-button-container">
    <button class="btn btn-success" (click)="generateIdea()" [disabled]="isLoading" [disabled]="!canGenerate">
      <span *ngIf="!isLoading">Generate Project Idea</span>
      <div *ngIf="isLoading" class="spinner"></div>
    </button><br>
    <div *ngIf="!canGenerate">
      <h3 style='color: red;'>Out of Credits</h3>
    </div>
  </div>

  <!-- Results Area -->
  <div *ngIf="projectIdea" class="bg-white mt-4">
    <h5>Generated Project Idea</h5>
    <p [innerHTML]="projectIdea"></p>
    <button class="btn btn-success" (click)="generateIdea()" [disabled]="!canGenerate">Regenerate Idea</button>
  </div>
</div>