
<body>
    <div class="reset-container">
        <h1>Reset your password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <label for="oldPassword">Old Password: </label>
            <input type="password" id="oldPassword" formControlName="oldPassword"/>
            <div *ngIf="resetPasswordForm.get('oldPassword')?.invalid && resetPasswordForm.get('oldPassword')?.touched">
                Your old password is required!
            </div>
            <br>
            <label for="newPassword">New Password: </label>
            <input type="password" id="newPassword" formControlName="newPassword"/>
            <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                New Password cannot be empty
            </div><br>
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset</button>
        </form>
    </div>
</body>